.about {
  display: grid;
  // grid-template-columns: 1fr;
  // grid-row-gap: 5rem;

  p {
    font-size: 1.9rem;
    text-align: left;
    width: 100%;
    line-height: 2.5rem;
    font-weight: 800;
  }

  img {
    width: 100%;
    height: auto;
    float: right;
  }
}

@media screen and (min-width: 768px) {
  .about {
    img {
      width: 80%;
    }

    p {
      font-size: 2rem;
      line-height: 3.5rem;
    }
  }
}


@media screen and (min-width: 992px) {
  .about {
    p {
      text-align: center;
    }
  }
}
