.about {
  padding-top: 60px;
  padding-bottom: 40px;

  .img-border {
    background-color: #fec4c4;
    padding: 60px;
  }

  p {
    font-size: 18px;
    padding-top: 20px;
  }
}

@media (min-width: 768px) {
  .about {
    .paragraphs {
      padding-top: 30px;
      p {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}

@media (min-width: 1080px) {
  .about {
    display: flex;
    padding-bottom: 100px;
    padding-top: 50px;

    .img-border {
      align-self: flex-start;

      img {
        max-width: 383px;
      }
    }

    .paragraphs {
      padding-top: 0px;
      padding-left: 30px;

      p {
        font-size: 24px;
      }

      p:first-child {
        padding-top: 0;
      }
    }
  }
}
