.about-page {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 8rem;

  img {
    width: 18rem;
    object-fit: cover;
    height: auto;
  }

  h1 {
    text-align: left;
    margin-top: 2rem;
    font-size: 1.7rem;
  }

  .about-text {
    margin-top: 2rem;
    display: grid;
    grid-row-gap: 1rem;

    p {
      line-height: 2rem;
      text-align: left;
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .about-page {
    margin-left: 14%;
    margin-right: 14%;

    h1 {
      margin-top: 3rem;
    }
  }
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1170px) {

}
