/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 2rem;
  height: 1rem;
  right: 0;
  margin-top: 3.5rem;
  margin-right: 4%;
}

button:focus {
  outline:none;
}

.bm-menu-wrap {
  width: 100% !important;
}

/* Color/shape of burger icon bars */
span.bm-burger-bars {
  background: black;
  height: 12% !important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  width: 2rem !important;
  height: 4rem !important;
  right: 2rem !important;
  top: 3rem !important;
}

span.bm-cross {
  width: 2px !important;
  height: 2rem !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: black;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

div.bm-item:focus {
  outline: none;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  padding-top: 10rem;

  a {
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
  }

  p {
    color: black;
    font-size: 1.8rem;
  }

  p:hover, a:hover {
    color: red;
  }
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
