.contact {
  margin-top: 8rem;

  h1 {
    font-size: 1.5rem;
    font-weight: 800;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: grey;
  }

  .a-links {
    margin-top: 2rem;

  }

  .new-tab {
    a {
      display: table-cell;
    }
  }
}
