.footer {
  border-top: 1px solid #e0e0e0;
  padding-top: 44px;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;

  a {
    padding-right: 20px;
    color: black;
    font-size: 20px;
  }

  a:last-child {
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .footer {
    a {
      font-size: 30px;
    }
    padding-bottom: 0;
  }
}
