.home {
  padding-top: 30px;

  .main {
    .greeting {
      display: flex;
      flex-direction: column;

      .words {
        padding-top: 10px;

        h1,
        h2 {
          font-size: 26px;
          line-height: 50px;
        }

        span {
          font-weight: bold;
        }
      }

      img {
        width: 200px;
        align-self: center;
      }
    }

    .get-excited {
      border: 1px solid black;
      border-radius: 10px;
      padding: 70px 35px;
      margin-top: 40px;

      h3,
      .list {
        font-size: 20px;
      }

      h3 {
        font-weight: bold;
      }

      .list {
        padding-top: 28px;
      }
    }
  }
  .cta {
    padding-top: 50px;

    a {
      color: black;
      font-size: 20px;
    }

    a:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }
}

@media (min-width: 768px) {
  .home {
    .main {
      .greeting {
        flex-direction: row;
        justify-content: center;

        img {
          width: 300px;
        }

        .words {
          align-self: center;
          padding-top: 0;
          padding-left: 20px;

          h1,
          h2 {
            font-size: 36px;
          }

          span {
            font-size: 48px;
          }
        }
      }
    }

    .cta {
      padding-top: 100px;
    }
  }
}

@media (min-width: 1080px) {
  .home {
    .main {
      .greeting {
        img {
          width: 400px;
        }

        .words {
          padding-left: 30px;
        }
      }

      .get-excited {
        padding: 108px 193px;
      }
    }
  }
}
