.home {
  padding-top: 30px;

  .main {
    p {
      font-size: 24px;
      padding-top: 20px;
    }

    .greeting {
      display: flex;
      flex-direction: column;

      .words {
        padding-top: 10px;

        h1 {
          font-size: 48px;
          font-weight: bold;
        }

        h2 {
          font-size: 36px;
          padding-top: 10px;
        }

        span {
          font-weight: bold;
        }
      }

      img {
        width: 200px;
        align-self: center;
      }
    }

    .get-excited {

      span {
        font-weight: bold;
      }

      p {
        font-size: 22px;
      }
    }
  }
  .cta {
    padding-top: 100px;

    a {
      color: black;
      font-size: 20px;
    }

    a:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }
}

@media(min-width: 1080px) {
  .home {
    padding: 80px 0;
  }
}