.navbar {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: black;
  }

  .desktop {
    display: none;
  }

  .logo {
    font-size: 96px;
  }

  button {
    border: none;
    background: none;

    i {
      font-size: 110px;
    }
  }

  button:hover {
    cursor: pointer;
  }
}

@media (min-width: 1080px) {
  .navbar {
    .desktop {
      display: flex;
      align-items: center;

      a {
        padding-right: 44px;
        font-size: 24px;
      }

      a:last-child {
        padding-right: 0;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    button {
      display: none;
    }
  }
}