.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 6rem;
  z-index: 999;
  background: white;

  h1 {
    float: left;
    display: inline;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-left: 4%;
    z-index: 2101;
    color: black;
  }

  .nav-right {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    .nav-right {
      display: inline;
      margin-right: 4%;
      margin-top: 3rem;
      float: right;

      a {
        text-decoration: none;
      }

      p {
        display: inline;
        color: black;
        font-weight: 800;
        font-size: 0.8rem;
      }

      p:hover {
        color: grey;
      }

      .padding {
        padding: 0 1rem;
      }

      p#contact {
        padding-left: 1rem;
      }
    }
  }
}
