.work {
  padding-top: 62px;
  display: flex;
  flex-direction: column-reverse;
  
  .project {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;

    .info {
      padding-top: 20px;
  
      .name {
        font-size: 36px;
        line-height: 42px;
      }
  
      .description {
        padding-top: 15px;
        font-size: 18px;
        line-height: 21px;
      }
  
      .created-using {
        font-size: 18px;
        font-weight: bold;
        padding-top: 15px;
      }
  
      .stack {
        font-size: 18px;
        line-height: 21px;
      }
    }
  
    .links {
      padding-top: 30px;
  
      a {
        display: block;
        color: black;
        font-size: 18px;
      }
    }
  }

  .project:last-child {
    padding-top: 0;
  }
}

@media (min-width: 768px) {
  .work {
    padding-top: 100px;
  }
}

@media (min-width: 1080px) {
  .work {
    .project {
      display: flex;
      padding-bottom: 60px;
      padding-top: 60px;

      .images {
        img {
          max-width: 850px;
        }
      }

      .info {
        padding-left: 20px;
      }
    }
  }
}